/*	--------------------------------------------------
	::Global Reset & Standards
	-------------------------------------------------- */
	
	/* 
		Eric Meyer's CSS Reset
		http://meyerweb.com/eric/tools/css/reset/ 
		v2.0 | 20110126
   		License:none (public domain)
	*/
	
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin:0;
		padding:0;
		border:0;
		font:inherit;
		vertical-align:baseline;
	}
	html {
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display:block;
	}
	body {
		line-height: 1;
	}
	img {
		vertical-align:top;
	}	
	ol, ul {
		list-style:none;
	}
	blockquote, q {
		quotes:none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content:'';
		content:none;
	}
	table {
		border-collapse:collapse;
		border-spacing:0;
	}

	sub {vertical-align:sub;}
	sup {vertical-align:super;}

	/* Webfonts
	------------------------------------------- */
	@font-face {
	    font-family: 'Headline';
	    src: url('fonts/SantanderHeadlineW05-Rg.woff2') format('woff2'),
	         url('fonts/SantanderHeadlineW05-Rg.woff') format('woff');
	    font-weight: 500;
	    font-style: normal;
	}
	@font-face {
	    font-family: 'Headline';
	    src: url('fonts/SantanderHeadlineW05-Bold.woff2') format('woff2'),
	         url('fonts/SantanderHeadlineW05-Bold.woff') format('woff');
	    font-weight: 700;
	    font-style: normal;
	}
	@font-face {
	    font-family: 'Microtext';
	    src: url('fonts/SantanderMicroTextW05-Rg.woff2') format('woff2'),
	         url('fonts/SantanderMicroTextW05-Rg.woff') format('woff');
	    font-weight: 500;
	    font-style: normal;
	}
	@font-face {
	    font-family: 'Santander';
	    src: url('fonts/SantanderTextW05-Regular.woff2') format('woff2'),
	         url('fonts/SantanderTextW05-Regular.woff') format('woff');
	    font-weight: 500;
	    font-style: normal;
	}
	@font-face {
	    font-family: 'Santander';
	    src: url('fonts/SantanderTextW05-SemiBold.woff2') format('woff2'),
	         url('fonts/SantanderTextW05-SemiBold.woff') format('woff');
	    font-weight: 600;
	    font-style: normal;
	}
	@font-face {
	    font-family: 'Santander';
	    src: url('fonts/SantanderTextW05-Bold.woff2') format('woff2'),
	         url('fonts/SantanderTextW05-Bold.woff') format('woff');
	    font-weight: 700;
	    font-style: normal;
	}



	/* Global Reset & Standards
	------------------------------------------- */
	*, *:before, *:after { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; -ms-box-sizing:border-box; }
	body { 
		position:relative; font-family: 'Santander', sans-serif; font-weight:normal; font-style:normal; line-height:1; color:#fff; background:#000;
		-webkit-text-size-adjust:none; text-size-adjust:none;
		-webkit-font-smoothing:antialiased; -webkit-touch-callout: none -webkit-overflow-scrolling: touch;
	}

	/* Links
	------------------------------------------- */
	a img { border:none; }
	a { 
		color:#fff; text-decoration: none; line-height: inherit; 
		-webkit-transition: color .1s linear; 
		-moz-transition: color .1s linear; 
		transition: color .1s linear;
	}
	p a, p a:visited { line-height: inherit; }

	/* Misc
	------------------------------------------- */
	img, object, embed { 
		max-width: 100%; height: auto;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
	object, embed { height: 100%; }
	img { -ms-interpolation-mode: bicubic; }

	/* Reset for strange margins by default on <figure> elements */
	figure { margin: 0; }


	/* Base Type Styles Using Modular Scale
	------------------------------------------- */
	body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td { margin:0; padding:0; font-size:13px; direction: ltr; }

	p { color:#fff; font-weight:normal; line-height: 1.2; margin-bottom:5px; }

	h1, h2, h3, h4, h5, h6 { font-weight:normal; font-style:normal; line-height:1.2; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font:inherit; color:inherit; text-decoration:none; }

	hr { border:0; border-top:1px solid #c9c9c9; border-bottom:1px solid #fff; clear: both; margin:0; height: 0; }

	em, i { font-style: italic; line-height: inherit; }
	strong, b { font-weight: bold; line-height: inherit; }
	small { font-size: 60%; line-height: inherit; }
	code { font-weight: bold; background: #ffff99; }


	/* Lists
	------------------------------------------- */
	ul { list-style:none outside; }
	ol { list-style:none outside; }


	/* Grid
	------------------------------------------- */
	.row { width:100%; margin:0 auto; max-width:960px; }

	.column, .columns { float: left; min-height:1px; padding:0; position: relative; }
	.column.centered, .columns.centered { float: none; margin: 0 auto; }

	.one, .row .one       { width: 8.33333%; }
	.two, .row .two       { width: 16.66667%; }
	.three, .row .three   { width: 25%; }
	.four, .row .four     { width: 33.33333%; }
	.five, .row .five     { width: 41.66667%; }
	.six, .row .six       { width: 50%; }
	.seven, .row .seven   { width: 58.33333%; }
	.eight, .row .eight   { width: 66.66667%; }
	.nine, .row .nine     { width: 75%; }
	.ten, .row .ten       { width: 83.33333%; }
	.eleven, .row .eleven { width: 91.66667%; }
	.twelve, .row .twelve { width: 100%; }

	/* Nicolas Gallagher's micro clearfix */
	.row { *zoom: 1; }
	.row:before, .row:after { content:""; display: table; }
	.row:after { clear: both; }

	.row .row { max-width:none; min-width:0; width:auto; overflow:visible; }


/*	--------------------------------------------------
	Forms
	-------------------------------------------------- */
	/* Placeholders */

	::-webkit-input-placeholder { color:#4D4D4D; opacity: .5; }
	::-moz-placeholder { color:#4D4D4D;  opacity: .5;  }
	:-ms-input-placeholder { color:#4D4D4D;  opacity: .5;  }
	input:-moz-placeholder { color:#4D4D4D;  opacity: .5;  }
	:-ms-input-placeholder { color:#4D4D4D;  opacity: .5;  }

	.error ::-webkit-input-placeholder { color:#CC4138;}
	.error ::-moz-placeholder { color:#CC4138;}
	.error :-ms-input-placeholder { color:#CC4138;}
	.error input:-moz-placeholder { color:#CC4138;}
	.error :-ms-input-placeholder { color:#CC4138;}

	input[type=search]::-webkit-search-decoration,
	input[type=search]::-webkit-search-cancel-button,
	input[type=search]::-webkit-search-results-button,
	input[type=search]::-webkit-search-results-decoration { display: none; }
	input[type="search"] { -webkit-appearance: textfield; }	 /* the webkit overrides need to stay at the top */

	/* fix date input width */
	input::-webkit-outer-spin-button,  
	input::-webkit-inner-spin-button { -webkit-appearance:none; margin:0; }

	input, textarea { -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; }	
	
	input[type=date]::-webkit-calendar-picker-indicator { -webkit-appearance: none;  }	

	::-ms-clear { display: none; }
	::-ms-reveal { display: none; }


	label { position:relative; display:block; font-size:167%; font-weight:normal; color:#337253; margin:5px 0 10px; }

	form { margin:0; }

	.form .row { margin:0 -20px; }
	.form .columns { padding:0 20px; }

	input[type="text"], 
	input[type="password"], 
	input[type="email"], 
	input[type="date"], 
	input[type="tel"], 
	input[type="number"], 
	textarea {
		display:block;
		width:100%;
		border:0;
		margin:0 0 15px;
		padding: 13px;
		-webkit-appearance: none;
		color:#000;
		font-size: 107.7%;
		font-weight:400;
		font-style: normal;
		font-variant: normal;
		text-align: left;
		background-color: #EEEEEE;
		-webkit-transition: all 0.5s ease 0s;
		-moz-transition: all 0.5s ease 0s;
		transition: all 0.5s ease 0s;
		font-family: 'Microtext', sans-serif;
	}
	textarea {overflow: auto;}
	input[type="text"].error, 
	input[type="password"].error, 
	input[type="email"].error, 
	input[type="date"].error, 
	input[type="tel"].error, 
	input[type="number"].error, 
	textarea.error {
		border-bottom-color: #CC4138;
	}

	textarea {resize:none; height: 80px;}
	
	input[type="text"]:focus, 
	input[type="password"]:focus, 
	input[type="email"]:focus, 
	input[type="date"]:focus, 
	input[type="tel"]:focus, 
	input[type="number"]:focus, 
	textarea:focus { opacity:1; outline: none !important; }
	
	input[type="text"][disabled], 
	input[type="password"][disabled], 
	input[type="email"][disabled], 
	input[type="date"][disabled], 
	input[type="date"][disabled], 
	input[type="tel"][disabled], 
	input[type="number"][disabled], 
	textarea[disabled] { opacity:0.5; }

	.error label { color:#C1272D; }
	.error input[type="text"], 
	.error input[type="password"],
	.error input[type="email"], 
	.error input[type="date"], 
	.error input[type="tel"], 
	.error input[type="number"], 
	.error textarea { border-color: #C1272D; }


/*	--------------------------------------------------
	Buttons
	-------------------------------------------------- */
	.button {
		position:relative; margin:0 auto; outline:none; display:block; width:100%; height:40px; line-height:40px; background:#007fc5; margin-top: 10px;
		color:#fff; font-size: 116.0%;font-weight:bold; font-style: normal; font-variant: normal; letter-spacing: 1px; text-align: center; text-transform: uppercase;text-decoration:none; text-transform:uppercase; 
		-webkit-transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s;
	}
	.button:hover{letter-spacing: 5px;}