	body {background: #fff; overflow-x: hidden; font-family: 'Santander', sans-serif;}
	body.showOverlay {overflow: hidden;}

	.h100 {height: 100%;}
	.desktop {display: block !important;}
	.mobile {display: none !important;}
	.l {float: left;}
	.r {float: right;}

	::-webkit-input-placeholder {
	   color: #211915;
	   opacity: 1;
	   -webkit-transition: .3s;
	      -moz-transition: .3s;
	       -ms-transition: .3s;
	        -o-transition: .3s;
	           transition: .3s;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: #211915;
	   opacity: 1;
	   -webkit-transition: .3s;
	      -moz-transition: .3s;
	       -ms-transition: .3s;
	        -o-transition: .3s;
	           transition: .3s; 
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: #211915;
	   opacity: 1; 
	   -webkit-transition: .3s;
	      -moz-transition: .3s;
	       -ms-transition: .3s;
	        -o-transition: .3s;
	           transition: .3s; 
	}

	:-ms-input-placeholder {  
	   color: #211915; 
	   opacity: 1; 
	   -webkit-transition: .3s;
	      -moz-transition: .3s;
	       -ms-transition: .3s;
	        -o-transition: .3s;
	           transition: .3s;
	}

	.error::-webkit-input-placeholder {
	   color: #CC4138;
	   opacity: 1;
	}

	.error:-moz-placeholder { /* Firefox 18- */
	   color: #CC4138;
	   opacity: 1;  
	}

	.error::-moz-placeholder {  /* Firefox 19+ */
	   color: #CC4138;
	   opacity: 1;  
	}

	.error:-ms-input-placeholder {  
	   color: #CC4138; 
	   opacity: 1; 
	}


/*	--------------------------------------------------
	Global & shapes
	-------------------------------------------------- */
	section {position: relative;}
	.clear {clear: both;}
	.centerContent {
		text-align: center;
	}
	.container {
		max-width: 1100px;
		margin: auto;
		padding: 0 15px;
	}

/*	--------------------------------------------------
	Navbar
	-------------------------------------------------- */
	menu {
		width: 100%;
		height: 63px;
		background: #fff;
		position: fixed;
		z-index: 9;
		top: 0;
		left: 0;
		-webkit-box-shadow: #00000029 0px 3px 6px;
		        box-shadow: #00000029 0px 3px 6px;
		-webkit-border-radius: 0 4px 4px 0;
		        border-radius: 0 4px 4px 0;
	}
	nav {
		display: inline-block;
	}
	nav a {
		color: #3E3E3E;
		font-size: 123%;
		font-weight: 500;
		margin-left: 50px;
		line-height: 63px;
	}
	nav a:first-child {
		margin-left: 0;
	}
	.login {
		background: rgba(158, 54, 103, .2);
		text-align: center;
		display: inline-block;
		height: 63px;
		padding: 26px;
		margin-left: 100px;
		margin-right: 16px;
		color: #9E3667;
		font-size: 123%;
		font-weight: 600;
	}
	.login img {
		margin-right: 8px;
		vertical-align: 0;
	}
	.social {
		display: inline-block;
	}
	.social li {
		display: inline-block;
		margin-right: 20px;
	}
	.social li:last-child {
		margin-right: 0;
	}

/*	--------------------------------------------------
	Hero
	-------------------------------------------------- */
	main {
		background: url('../img/banner-bg.png') -30% bottom no-repeat;
		margin-top: 63px;
		padding-bottom: 80px;
		position: relative;
	}
	main .dots {
		position: absolute;
		top: 0;
		right: 0;
	}
	.heroText {
		max-width: 420px;
		margin-right: 80px;
		padding-top: 86px;
	}
	.heroText h3 {
		font-size: 153.8%;
		font-weight: 700;
		margin-bottom: 10px;
	}
	.heroText h1 {
		font-size: 423%;
		font-family: 'headline', sans-serif;
		font-weight: 700;
		margin-bottom: 25px;
	}
	.heroText p {
		font-size: 138.4%;
		line-height: 30px;
		max-width: 300px;
		margin-bottom: 23px;
	}
	.outlineBtn {
		border: 1px solid #fff;
		display: inline-block;
		padding: 13px 22px;
		font-size: 123%;
	}
	.heroImage {
		vertical-align: top;
		position: relative;
	}
	.creditCards {
		position: absolute;
		left: -85px;
		bottom: -50px;
	}
	.arrow {
		display: block;
		position: absolute;
		left: 45%;
	}
	.whatsapp {
		display: block;
		position: absolute;
		bottom: -30px;
		right: 37px;
	}

/*	--------------------------------------------------
	Enterprise
	-------------------------------------------------- */
	section {
		margin-top: 110px;
	}
	.sectionTitle {
		display: inline-block;
		vertical-align: top;
		width: 50%;
	}
	.sectionTitle h5 {
		color: #EC0000;
		font-weight: 700;
		font-size: 153.8%;
		text-transform: uppercase;
	}
	.sectionTitle p {
		font-family: 'headline', sans-serif;
		color: #9E3667;
		font-size: 307.7%;
		max-width: 500px;
		margin-top: 10px;
	}
	.sectionInfo {
		display: inline-block;
		vertical-align: top;
		width: 49%;
	}
	.sectionInfo p {
		font-size: 123%;
		color: #666;
		line-height: 25px;
		margin-bottom: 30px;
	}
	.boxes {
		margin-top: 76px;
	}
	.boxes .row {
		max-width: 100%;
	}
	.boxes .column {
		padding: 8px;
	}
	.boxes .column:nth-child(even) {
		margin-top: 40px;
	}
	.box {
		padding: 32px 18px;
		min-height: 260px;
		-webkit-box-shadow: #9E36671A 0px 3px 20px;
		        box-shadow: #9E36671A 0px 3px 20px;
	}
	.box .title {
		color: #9E3667;
		font-size: 138.4%;
		font-weight: 700;
		margin-top: 15px;
		line-height: 19px;
	}
	.box .description {
		margin-top: 10px;
		color: #666;
		font-size: 107.7%;
		line-height: 20px;
	}

/*	--------------------------------------------------
	Choose
	-------------------------------------------------- */
	.sectionTitle ul {
		list-style-image: url('../img/check-icon-red.svg');
		max-width: 505px;
		margin: 27px 0 27px 24px;
	}
	.sectionTitle li {
		color: #3E3E3E;
		line-height: 25px;
		font-size: 123%;
		margin-bottom: 20px;
	}
	.outlineBtn.red {
		border-color: #EC0000;
		border-width: 2px;
		background: #F300131A;
		color: #EC0000;
	}

/*	--------------------------------------------------
	Technology
	-------------------------------------------------- */
	.sectionTitle .text {
		color: #3E3E3E;
		font-size: 123%;
		margin-top: 14px;
		line-height: 25px;
		max-width: 400px;
	}
	.sectionTitle .text span {
		display: block;
		margin-bottom: 20px;
	}

/* MEDIA QUERIES */
@media (min-width: 769px) and (max-width:  1160px) {
	main {
		background-position: -25vw bottom;
	}
	main .r:first-child {
		width: 57%;
	}
	main .r:nth-child(2) {
		width: 43%;
	}
}

@media (max-width: 768px) {
	.desktop {display: none !important;}
	.mobile {display: block !important;}
}