	body {background: #fff; overflow-x: hidden; font-family: 'Santander', sans-serif;}
	body.showOverlay {overflow: hidden;}

	.h100 {height: 100%;}
	.desktop {display: block !important;}
	.mobile {display: none !important;}
	.l {float: left;}
	.r {float: right;}

	::-webkit-input-placeholder {
	   color: #211915;
	   opacity: 1;
	   -webkit-transition: .3s;
	      -moz-transition: .3s;
	       -ms-transition: .3s;
	        -o-transition: .3s;
	           transition: .3s;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: #211915;
	   opacity: 1;
	   -webkit-transition: .3s;
	      -moz-transition: .3s;
	       -ms-transition: .3s;
	        -o-transition: .3s;
	           transition: .3s; 
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: #211915;
	   opacity: 1; 
	   -webkit-transition: .3s;
	      -moz-transition: .3s;
	       -ms-transition: .3s;
	        -o-transition: .3s;
	           transition: .3s; 
	}

	:-ms-input-placeholder {  
	   color: #211915; 
	   opacity: 1; 
	   -webkit-transition: .3s;
	      -moz-transition: .3s;
	       -ms-transition: .3s;
	        -o-transition: .3s;
	           transition: .3s;
	}

	.error::-webkit-input-placeholder {
	   color: #CC4138;
	   opacity: 1;
	}

	.error:-moz-placeholder { /* Firefox 18- */
	   color: #CC4138;
	   opacity: 1;  
	}

	.error::-moz-placeholder {  /* Firefox 19+ */
	   color: #CC4138;
	   opacity: 1;  
	}

	.error:-ms-input-placeholder {  
	   color: #CC4138; 
	   opacity: 1; 
	}


/*	--------------------------------------------------
	Global & shapes
	-------------------------------------------------- */
	section {position: relative;}
	.clear {clear: both;}
	.centerContent {
		text-align: center;
	}

/*	--------------------------------------------------
	Navbar
	-------------------------------------------------- */
	menu {
		width: 100%;
		height: 63px;
		background: #fff;
		position: fixed;
		top: 0;
		left: 0;
		-webkit-box-shadow: #00000029 0px 3px 6px;
		        box-shadow: #00000029 0px 3px 6px;
		-webkit-border-radius: 0 4px 4px 0;
		        border-radius: 0 4px 4px 0;
	}
	nav {
		display: inline-block;
	}
	nav a {
		color: #3E3E3E;
		font-size: 123%;
		font-weight: 500;
		margin-left: 50px;
		line-height: 63px;
	}
	nav a:first-child {
		margin-left: 0;
	}
	.login {
		background: rgba(158, 54, 103, .2);
		text-align: center;
		display: inline-block;
		height: 63px;
		padding: 26px;
		margin-left: 100px;
		margin-right: 16px;
		color: #9E3667;
		font-size: 123%;
		font-weight: 600;
	}
	.login img {
		margin-right: 8px;
		vertical-align: 0;
	}
	.social {
		display: inline-block;
	}
	.social li {
		display: inline-block;
		margin-right: 20px;
	}
	.social li:last-child {
		margin-right: 0;
	}

/*	--------------------------------------------------
	Hero
	-------------------------------------------------- */
	main {
		background: url('../img/banner-bg.png') -30% bottom no-repeat;
		margin-top: 63px;
		padding-bottom: 80px;
	}
	main .dots {
		position: absolute;
		top: 0;
		right: 0;
	}
	.heroText {
		max-width: 420px;
		margin-right: 80px;
		padding-top: 86px;
	}
	.heroText h3 {
		font-size: 153.8%;
		font-weight: 700;
		margin-bottom: 10px;
	}
	.heroText h1 {
		font-size: 423%;
		font-family: 'headline', sans-serif;
		font-weight: 700;
		margin-bottom: 25px;
	}
	.heroText p {
		font-size: 138.4%;
		line-height: 30px;
		max-width: 300px;
		margin-bottom: 23px;
	}
	.heroText a {
		border: 1px solid #fff;
		display: inline-block;
		padding: 10px 22px;
	}
	.heroImage {
		vertical-align: top;
		position: relative;
	}
	.creditCards {
		position: absolute;
		left: 0;
		bottom: -50px;
	}
	.arrow {
		display: block;
		position: absolute;
		left: 45%;
	}
	.whatsapp {
		display: block;
		position: absolute;
		bottom: -30px;
		right: 37px;
	}

/* MEDIA QUERIES */
@media (min-width: 769px) and (max-width:  1160px) {
	main {
		background-position: -25vw bottom;
	}
	main .r:first-child {
		width: 57%;
	}
	main .r:nth-child(2) {
		width: 43%;
	}
}

@media (max-width: 768px) {
	.desktop {display: none !important;}
	.mobile {display: block !important;}
}