	body {background: #fff; overflow-x: hidden; font-family: 'Santander', sans-serif;}
	body.showOverlay {overflow: hidden;}

	.h100 {height: 100%;}
	.desktop {display: block !important;}
	.mobile {display: none !important;}
	.l {float: left;}
	.r {float: right;}

	::-webkit-input-placeholder {
	   color: ##666666;
	   opacity: 1;
	   -webkit-transition: .3s;
	      -moz-transition: .3s;
	       -ms-transition: .3s;
	        -o-transition: .3s;
	           transition: .3s;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: ##666666;
	   opacity: 1;
	   -webkit-transition: .3s;
	      -moz-transition: .3s;
	       -ms-transition: .3s;
	        -o-transition: .3s;
	           transition: .3s; 
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: ##666666;
	   opacity: 1; 
	   -webkit-transition: .3s;
	      -moz-transition: .3s;
	       -ms-transition: .3s;
	        -o-transition: .3s;
	           transition: .3s; 
	}

	:-ms-input-placeholder {  
	   color: ##666666; 
	   opacity: 1; 
	   -webkit-transition: .3s;
	      -moz-transition: .3s;
	       -ms-transition: .3s;
	        -o-transition: .3s;
	           transition: .3s;
	}

	.error::-webkit-input-placeholder {
	   color: #CC4138;
	   opacity: 1;
	}

	.error:-moz-placeholder { /* Firefox 18- */
	   color: #CC4138;
	   opacity: 1;  
	}

	.error::-moz-placeholder {  /* Firefox 19+ */
	   color: #CC4138;
	   opacity: 1;  
	}

	.error:-ms-input-placeholder {  
	   color: #CC4138; 
	   opacity: 1; 
	}


/*	--------------------------------------------------
	Global & shapes
	-------------------------------------------------- */
	section {position: relative;}
	.clear {clear: both;}
	.centerContent {
		text-align: center;
	}
	.container {
		max-width: 1100px;
		margin: auto;
		padding: 0 15px;
		position: relative;
	}

/*	--------------------------------------------------
	Navbar
	-------------------------------------------------- */
	menu {
		width: 100%;
		height: 63px;
		background: #fff;
		position: fixed;
		z-index: 9;
		top: 0;
		left: 0;
		-webkit-box-shadow: #00000029 0px 3px 6px;
		        box-shadow: #00000029 0px 3px 6px;
		-webkit-border-radius: 0 4px 4px 0;
		        border-radius: 0 4px 4px 0;
	}
	nav {
		display: inline-block;
	}
	nav a {
		color: #3E3E3E;
		font-size: 123%;
		font-weight: 500;
		margin-left: 50px;
		line-height: 63px;
	}
	nav a:first-child {
		margin-left: 0;
	}
	.login {
		background: rgba(158, 54, 103, .2);
		text-align: center;
		display: inline-block;
		height: 63px;
		padding: 26px;
		margin-left: 100px;
		margin-right: 16px;
		color: #9E3667;
		font-size: 123%;
		font-weight: 600;
	}
	.login img {
		margin-right: 8px;
		vertical-align: 0;
	}
	.social {
		display: inline-block;
	}
	.social li {
		display: inline-block;
		margin-right: 20px;
	}
	.social li:last-child {
		margin-right: 0;
	}

/*	--------------------------------------------------
	Hero
	-------------------------------------------------- */
	main {
		background: url('../img/banner-bg.png') -30% bottom no-repeat;
		margin-top: 63px;
		padding-bottom: 80px;
		position: relative;
	}
	main .dots {
		position: absolute;
		top: 0;
		right: 0;
	}
	.heroText {
		max-width: 420px;
		margin-right: 80px;
		padding-top: 86px;
	}
	.heroText h3 {
		font-size: 153.8%;
		font-weight: 700;
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	.heroText h1 {
		font-size: 423%;
		font-family: 'headline', sans-serif;
		font-weight: 700;
		margin-bottom: 25px;
	}
	.heroText p {
		font-size: 138.4%;
		line-height: 30px;
		max-width: 300px;
		margin-bottom: 23px;
	}
	.outlineBtn {
		border: 1px solid #fff;
		display: inline-block;
		padding: 13px 22px;
		font-size: 123%;
	}
	.heroImage {
		vertical-align: top;
		position: relative;
		margin-top: -1px;
	}
	.creditCards {
		position: absolute;
		left: -85px;
		bottom: -50px;
	}
	.arrow {
		display: block;
		position: absolute;
		left: 45%;
	}
	.whatsapp {
		display: block;
		position: absolute;
		bottom: -30px;
		right: 37px;
	}

/*	--------------------------------------------------
	Enterprise
	-------------------------------------------------- */
	section {
		margin-top: 110px;
	}
	section .dots {
		position: absolute;
		opacity: 0.7;
		z-index: 2;
		pointer-events: none;
	}
	section.enterprise .dots {
		top: -85px;
		left: -60px;
	}
	.sectionInfo + .sectionTitle {
		padding-left: 50px;
	}
	.sectionTitle {
		display: inline-block;
		vertical-align: top;
		width: 50%;
	}
	.sectionTitle h5 {
		color: #EC0000;
		font-weight: 700;
		font-size: 153.8%;
		text-transform: uppercase;
	}
	.sectionTitle p {
		font-family: 'headline', sans-serif;
		color: #9E3667;
		font-size: 307.7%;
		max-width: 500px;
		margin-top: 10px;
	}
	.sectionInfo {
		display: inline-block;
		vertical-align: top;
		width: 49%;
	}
	.sectionInfo p {
		font-size: 123%;
		color: #666;
		line-height: 25px;
		margin-bottom: 30px;
	}
	.boxes {
		margin-top: 76px;
	}
	.boxes .row {
		max-width: 100%;
	}
	.boxes .column {
		padding: 8px;
	}
	.boxes .column:nth-child(even) {
		margin-top: 40px;
	}
	.box {
		padding: 32px 18px;
		min-height: 260px;
		-webkit-box-shadow: #9E36671A 0px 3px 20px;
		        box-shadow: #9E36671A 0px 3px 20px;
	}
	.box .title {
		color: #9E3667;
		font-size: 138.4%;
		font-weight: 700;
		margin-top: 15px;
		line-height: 19px;
	}
	.box .description {
		margin-top: 10px;
		color: #666;
		font-size: 107.7%;
		line-height: 20px;
		font-family: "Microtext", sans-serif;
	}

/*	--------------------------------------------------
	Choose
	-------------------------------------------------- */
	section.choose {
		margin-top: 203px;
	}
	section.choose .dots {
		left: 40px;
		top: -85px;
	}
	ul.checkList {
		list-style-image: url('../img/check-icon-red.svg');
		max-width: 505px;
		margin: 27px 0 27px 24px;
	}
	.sectionTitle li {
		color: #3E3E3E;
		line-height: 25px;
		font-size: 123%;
		margin-bottom: 20px;
	}
	.outlineBtn.red {
		border-color: #EC0000;
		border-width: 2px;
		background: #F300131A;
		color: #EC0000;
	}

/*	--------------------------------------------------
	Technology
	-------------------------------------------------- */
	section.technology {
		padding-bottom: 70px;
	}
	section.technology .dots {
		right: 130px;
		bottom: -42px;
	}
	.sectionTitle .text {
		color: #3E3E3E;
		font-size: 123%;
		margin-top: 14px;
		line-height: 25px;
		max-width: 400px;
	}
	.sectionTitle .text span {
		display: block;
		margin-bottom: 20px;
	}
	.sectionTitle .text + .outlineBtn {
		margin-top: 7px;
	}

/*	--------------------------------------------------
	Payments
	-------------------------------------------------- */
	section.payments .sectionTitle {
		display: block;
		width: 100%;
		text-align: center;
	}
	section.payments .sectionTitle p {
		max-width: 750px;
		margin: auto;
	}
	.cardsList {
		text-align: center;
		max-width: 910px;
		margin: 73px auto 0;
	}
	.cardsList li {
		display: inline-block;
		margin: 0 40px 60px;
		vertical-align: middle;
	}

/*	--------------------------------------------------
	Benefits
	-------------------------------------------------- */
	section.benefits {
		margin-top: 130px;
		padding-bottom: 70px;
		padding-top: 70px;
	}
	section.benefits .dots {
		left: 130px;
		bottom: -92px;
	}
	section.benefits .dots + .dots {
		bottom: initial;
		left: initial;
		top: -190px;
		right: 0;
		-webkit-transform: rotate(90deg);
		   -moz-transform: rotate(90deg);
		    -ms-transform: rotate(90deg);
		     -o-transform: rotate(90deg);
		        transform: rotate(90deg);
	}
	section.benefits .sectionTitle {
		vertical-align: bottom;
	}
	ul.icons {
		margin-top: 36px;
	}
	ul.icons li {
		display: inline-block;
		margin-right: 26px;
	}

/*	--------------------------------------------------
	Contact
	-------------------------------------------------- */
	section.contact .dots {
		right: -160px;
		bottom: -20px;
		-webkit-transform: rotate(90deg);
		   -moz-transform: rotate(90deg);
		    -ms-transform: rotate(90deg);
		     -o-transform: rotate(90deg);
		        transform: rotate(90deg);
	}
	.formContainer {
		margin-top: 62px;
	}
	form {
		width: 444px;
		display: inline-block;
	}
	form textarea {
		height: 106px;
	}
	form button {
		background: #9E3667;
		border: #9E3667 1px solid;
		color: #fff;
		font-size: 123%;
		padding: 10px 22px;
		cursor: pointer;
		margin-top: 7px;
	}
	.contactData {
		display: inline-block;
		width: calc(100% - 450px);
		max-width: 280px;
		vertical-align: top;
		float: right;
		padding-left: 50px;
	}
	.contactData h6 {
		color: #9E3667;
		font-weight: 700;
		font-size: 138.4%;
		margin-bottom: 15px;
	}
	.contactInfo {
		margin-bottom: 15px;
	}
	.contactInfo img {
		margin-right: 15px;
	}
	.contactInfo span {
		color: #3E3E3E;
		font-weight: 600;
		font-size: 115.3%;
		line-height: 38px;
	}
	.contactData .contactInfo + h6 {
		margin-top: 20px;
	}
	.contactData .icons {
		margin-top: 15px;
	}
	.contactData .icons li {
		margin-right: 15px;
	}
	section.contact .container {
		max-width: 800px;
	}
	section.contact .sectionTitle {
		width: 100%;
		display: block;
	}
	section.contact .sectionTitle p,
	section.contact .sectionTitle .text {
		max-width: 100%;
	}
	
/*	--------------------------------------------------
	Footer
	-------------------------------------------------- */
	footer {
		background: #3E3E3E;
		margin-top: 108px;
		text-align: center;
	}
	footer .links {
		padding: 44px 10px 31px;
	}
	footer .links li {
		display: inline-block;
	}
	footer .links li a {
		text-transform: uppercase;
		margin-right: 45px;
		font-weight: 600;
	}
	footer .social {
		position: absolute;
		right: 10px;
		top: 44px;
	}
	footer .social img {
		filter: brightness(10);
	}
	.subfooter {
		background: rgba(0, 0, 0, .6);
		color: #fff;
		text-align: center;
		padding: 16px 10px;
	}

/* MEDIA QUERIES */
@media (min-width: 821px) and (max-width:  1160px) {
	main {
		background-position: -25vw bottom;
	}
	main .r:first-child {
		width: 57%;
	}
	main .r:nth-child(2) {
		width: 43%;
	}
}

@media (min-width: 821px) {
	.menuMobile {
		display: none !important;
	}
}

@media (max-width: 820px) {
	.desktop, .hideMobile {display: none !important;}
	.mobile {display: block !important;}

	/* NAVBAR */
	nav,
	.login,
	menu .social {
		display: none;
	}
	.openMenu menu {
		-webkit-box-shadow: #00000029 0px 3px 6px;
		        box-shadow: #00000029 0px 3px 6px;
	}
	.menuBtn {
		width: 26px;
		height: 24px;
		position: absolute;
		right: 34px;
		top: 20px;
		display: block;
	}
	.menuBtn span {
		background: #EC0000;
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		height: 5px;
		-webkit-transition: .3s;
		   -moz-transition: .3s;
		    -ms-transition: .3s;
		     -o-transition: .3s;
		        transition: .3s;
		-webkit-border-radius: 2px;
		        border-radius: 2px;
	}
	.menuBtn span:first-child {
		top: 0;
	}
	.menuBtn span:nth-child(2) {
		top: 50%;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
	}
	.menuBtn span:last-child {
		bottom: 0;
	}
	.openMenu .menuBtn span:first-child {
		top: 10px;
		-webkit-transform: rotate(45deg);
		   -moz-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		     -o-transform: rotate(45deg);
		        transform: rotate(45deg);
	}
	.openMenu .menuBtn span:nth-child(2) {
		opacity: 0;
		left: 100%;
	}
	.openMenu .menuBtn span:last-child {
		bottom: 9px;
		-webkit-transform: rotate(-45deg);
		   -moz-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		     -o-transform: rotate(-45deg);
		        transform: rotate(-45deg);
	}
	.menuMobile nav,
	.menuMobile .login {
		display: block;
	}
	.menuMobile {
		display: none;
		position: fixed;
		top: 63px;
		background: #fff;
		width: 100%;
		z-index: 3;
		padding-top: 21px;
		padding-bottom: 32px;
		overflow: scroll;
    	max-height: calc(100vh - 63px);
		-webkit-box-shadow: #00000029 0px 3px 6px;
		        box-shadow: #00000029 0px 3px 6px;
	}
	nav {
		text-align: center;
	}
	nav a {
		display: block;
		margin-left: 0;
		line-height: normal;
		margin-bottom: 38px;
	}
	.menuMobile .login {
		margin: 0;
		width: 100%;
	}
	.menuMobile .social {
		margin-top: 31px;
		text-align: center;
		display: block;
	}
	.menuMobile .social li {
		margin-right: 54px;
	}
	.menuMobile .social li:last-child {
		margin-right: 0;
	}

	/* HERO */
	main {
		background-position: center top;
		padding-bottom: 0;
	}
	main .r {
		float: none;
	}
	.heroText {
		float: none;
		display: block;
		max-width: 310px;
		margin: auto;
		text-align: center;
		padding-top: 30px;
	}
	.heroText h3 {
		font-size: 138.4%;
	}
	.heroText h1 {
		font-size: 307.7%;
		line-height: 45px;
		margin-bottom: 10px;
	}
	.heroText p {
		max-width: 100%;
	}
	main .dots {
		display: none;
	}
	.heroImage {
		margin-top: 96px;
		text-align: center;
	}
	.creditCards {
		left: 0;
		right: 0;
		top: -60px;
		margin: auto;
		text-align: center;
	}
	.creditCards > div {
		display: inline-block;
	}
	.creditCards > div img {
		height: 90px;
	}

	/* ENTERPRISE */
	.container {
		padding: 0 35px;
	}
	section {
		margin-top: 35px;
	}
	.sectionTitle,
	.sectionInfo {
		width: 100%;
		display: block;
		text-align: center;
	}
	.sectionTitle h5 {
		font-size: 138.4%;
	}
	.sectionTitle p {
		font-size: 215.4%;
		margin: 10px auto;
	}
	.sectionImage {
		float: none;
	}
	.sectionInfo {
		margin-top: 20px;
	}
	.sectionInfo p {
		line-height: 18px;
		font-size: 107.7%;
		margin-bottom: 20px;
	}
	.boxes .column:nth-child(even) {
		margin-top: 0;
	}
	.boxes {
		white-space: nowrap;
		overflow: scroll;
		margin: 40px -36px 0;
		padding-left: 36px;
		padding-bottom: 20px;
	}
	.boxes .row .three {
		width: 205px;
		display: inline-block;
		vertical-align: top;
		float: none;
		margin-right: 10px;
	}
	.box {
		padding: 26px 18px;
		min-height: 234px;
		white-space: normal;
	}
	.box img {
		height: 43px;
	}
	.box .title {
		font-size: 123%;
		line-height: 19px;
		margin-top: 10px;
	}
	.box .description {
		font-size: 92.3%;
		line-height: 16px;
		margin-top: 5px;
	}

	/* CHOOSE */
	section.choose .dots {
		top: 0;
		right: 0;
		left: initial;
		width: 150px;
	}
	section.choose {
		margin-top: 35px;
	}
	.sectionInfo + .sectionTitle {
		padding-left: 0;
	}
	ul.checkList {
		text-align: left;
	}
	.sectionTitle li {
		font-size: 107.7%;
		line-height: 18px;
		margin-bottom: 15px;
	}
	.sectionInfo {
		margin-top: 30px;
		position: relative;
	}

	/* TECHNOLOGY */
	section.technology .dots {
		left: 0;
		right: 0;
		text-align: center;
		bottom: -80px;
		opacity: 1;
	}
	.sectionTitle .text {
		font-size: 107.7%;
		line-height: 18px;
		max-width: 90%;
		margin: 14px auto 0;
	}

	/* PAYMENTS */
	section.payments {
		margin-top: 130px;
	}
	.cardsList {
		white-space: nowrap;
		overflow: scroll;
		margin: 40px -36px 0;
		padding-left: 20px;
	}
	.cardsList li {
		margin: 0 12px;
	}
	.cardsList img {
		height: 25px;
	}

	/* BENEFITS */
	section.benefits {
		margin-top: 104px;
	}
	ul.icons li:last-child {
		margin-right: 0;
	}

	/* CONTACT */
	.formContainer {
		text-align: center;
	}
	form {
		width: 100%;
		max-width: 600px;
	}
	form button {
		display: block;
		margin: 5px auto 0;
	}
	.contactData {
		display: block;
		width: 100%;
		max-width: 100%;
		float: none;
		padding-left: 0;
		margin-top: 52px;
		text-align: center;
	}
	.contactInfo {
		display: inline-block;
		margin-top: 15px;
	}
	.contactInfo:nth-child(2) {
		margin-right: 32px;
	}
	.contactData .contactInfo + h6 {
		margin-top: 30px;
	}
	.contactInfo span a {
		color: #3E3E3E;
	}

	/* FOOTER */
	footer {
		margin-top: 52px;
	}
	footer .social {
		position: relative;
		right: initial;
		top: initial;
		padding: 35px 0 30px;
		float: right;
	}
	.subfooter {
		clear: both;
		font-size: 76.9%;
		padding: 9px 35px;
		line-height: 12px;
	}
}