.menu {
  background-color: #ffffff;
  padding: 10px 15px;
  width: 95%;
  height: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0px 3px 6px #00000029;
  position: relative;
}
.content_icon-menu {
  width: 30px;
  height: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.container-menu {
  width: 100% ;
  height: 130px;
  background-color: #fff;
  margin-top: 170px;
  position: absolute;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
}
.container-icons_menu {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
}
.img-menu {
  padding-right: 10px;
}
.btnClient_menu {
  width: 100%;
  height: 63px;
  color: #9E3667;
  background: rgba(158, 54, 103, 0.2);
  margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
 
  .icon-menu {
    width: 60%;
    padding-right: 15px;
    
  }
  .container-menu {
    z-index: 10;
  }
  .menu {
    width: 100%;
    padding: 0px;
    height: 45px;
  }
  .content_icon-menu {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 45px;
  }
}


@media screen and (max-width: 375px) {
  .menu {
    height: 45px;
  }
  .content_icon-menu {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 45px;
  }
}