.menu {
    background-color: #FFFFFF;
    padding: 15px;
    width: 95%;
    height: 200p;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px 3px 6px #00000029;
}
.content_icon-menu {
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.icon-menu {
    width: 25px;
    border-top: 3px solid #EC0000;
}