.menu {
  background-color: #ffffff;
  padding: 15px;
  width: 95%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0px 3px 6px #00000029;
}
.content_icon-menu {
  width: 30px;
  height: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  background-color: purple;
}

.icon-menu {
  width: 25px;
  border-top: 3px solid #ec0000;
}

@media screen and (max-width: 479px) {
  * {
    padding: 0px;
    margin: 0px;
  }
  .content_icon-menu {
    width: 15%;
    height: 50%;
    background-color: rosybrown;
  }
  .menu {
    background-color: yellow;
  }
  .icon-menu {
    width: 60%;
    background-color: tomato;
  }
}