* {
  margin: 0px;
  border: 0px;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.container-second {
  width: 70%;
  height: 70vh;
  display: flex;
  flex-direction: column;
}
.container-btnContinue {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnContinue {
  width: 126px;
  height: 43px;
  color: #fff;
  font-size: 16px;
  background-color: #ec0000;
  border: 1px solid #f30013;
  opacity: 1;
}
.link-btnContinue {
  text-decoration: none;
  color: #fff;
}
.container-inputs {
  padding: 20px;
  position: relative;
  display: inline-block;
  width: 70%;
  height: 40vh;
}
.captcha {
  width: 90%;

  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.labelCheckbox {
  color: #8d8080;
}
.input-mail {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.link-conditions {
  color: #9e3667;
}

@media screen and (max-width: 1000px) {
  .container-inputs {
    display: inline-block;
    width: 100%;
    height: 50vh;
  }
}

@media screen and (max-width: 767px) {
  .container-inputs {
    display: inline-block;
    width: 100%;
    height: 80vh;
  }
  .captcha {
    width: 100%;
    display: inline-block;
    flex-direction: column;
    margin-top: 32px;
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .container-inputs {
    display: inline-block;
    width: 100%;
    height: 80vh;
  }

  .container-btnContinue {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btnContinue {
    position: fixed;
    bottom: 0px;
    right: opx;
    width: 90%;
    height: 43px;
    color: #f30013;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #f30013;
    opacity: 1;
    margin: 0px auto;
  }
}
