* {
  margin: 0px;
  border: 0px;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.container-second {
  width: 70%;
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.container-inputs {

  position: relative;
  display: inline-block;
  width: 70%;
  height: 40vh;
}
.captcha {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.labelCheckbox {
  color: #8d8080;
}
.input-mail {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.link-conditions {
  color: #9e3667;
}

@media screen and (max-width: 1100px) {
  .container-inputs {
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .captcha {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-inputs {
    display: flex;
    width: 80%;
    height: 70vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .captcha {
    width: 70%;
    display: inline-block;
    flex-direction: column;
    margin-top: 52px;
    justify-content: center;
  }
  div.input-mail {
   margin-top: 200px;
  }
 
}

@media screen and (max-width: 479px) {
  .container-inputs {
    display: inline-block;
    width: 100%;
    height: 80vh;
  }
}
