.title {
  padding: 30px 20px 5px 100px;
  font: normal normal normal 30px/34px Santander Headline;
  letter-spacing: 0px;
  color: #ec0000;
  opacity: 1;
}
.subtitle {
  padding: 0px 20px 5px 105px;
  letter-spacing: var(--unnamed-character-spacing-0);
  font-size: 16px;
  letter-spacing: 0px;
  color: #3e3e3e;
  opacity: 1;
}

/*resposive*/

@media screen and (max-width: 1118px) {
  .title {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  .subtitle {
    display: flex;
    justify-content: center;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  *{
    margin: 0px;
    padding: 0px;
  }
  .title {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
  }
}

@media screen and (max-width: 479px) {
  .title {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .subtitle {
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
  }
}
