.title {
  font: normal normal normal 30px/34px Santander Headline;
  letter-spacing: 0px;
  color: #ec0000;
  opacity: 1;
}
.subtitle {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-20)
    var(--unnamed-font-family-santander-micro-text);
  letter-spacing: var(--unnamed-character-spacing-0);
  font: normal normal normal 16px/20px Santander Micro Text;
  letter-spacing: 0px;
  color: #3e3e3e;
  opacity: 1;
}

/*resposive*/

@media screen and (max-width: 1118px) {
  .title {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .subtitle {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .title {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .title {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .subtitle {
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
