version: 2
jobs:
  build:
    working_directory: ~/repo
    docker:
      - image: circleci/node:12.7
    steps:
      - checkout
      # Try to restore the cache corresponding to the last updated dependencies,
      # if it's a miss, restore the latest cache available
      - restore_cache:
          name: Restore project dependencies cache
          keys:
            - v1.0-dependencies-{{ checksum "yarn.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v1.0-dependencies-
      - run:
          name: Install project dependencies
          command: yarn

      - save_cache:
          name: Save project dependencies cache
          key: v1.0-dependencies-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
            - ./node_modules
      - run:
          name: Build
          # TODO: add build:{env} scripts
          command: |
            CI=false
            if [ "${CIRCLE_BRANCH}" == "dev" ]; then
              npm run build:dev
            elif [ "${CIRCLE_BRANCH}" == "qa" ]; then
              npm run build:qa
            elif [ "${CIRCLE_BRANCH}" == "master" ]; then
              npm run build:prod
            fi
            CI=true
      # Persist the specified paths into the workspace for use in downstream job.
      - persist_to_workspace:
          # Must be an absolute path, or relative path from working_directory. This is a directory on the container which is
          # taken to be the root directory of the workspace.
          root: ~/repo/build
          # Must be relative path from root
          paths:
            - ./

  deploy:
    working_directory: ~/repo
    docker:
      - image: rohara/node:6.10.3-rsync
    steps:
      - attach_workspace:
          # Must be absolute path or relative path from working_directory
          at: ~/repo/build

      # add ssh fingerprint
      - run: mkdir -p ~/.ssh
      - run: echo 'dev.houlak.com ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBJX+kw/rWuQCM6NR6fMvov74RufclN0OjZHNw8HekzHYeGziwYsGvl8T+ZoXEYWS1n8Pp1FWvMw2TjrVVpPiAVs=' >> ~/.ssh/known_hosts
      - run: echo 'qa.houlak.com ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBJX+kw/rWuQCM6NR6fMvov74RufclN0OjZHNw8HekzHYeGziwYsGvl8T+ZoXEYWS1n8Pp1FWvMw2TjrVVpPiAVs=' >> ~/.ssh/known_hosts
      - deploy:
          command: |
            if [ "${CIRCLE_BRANCH}" == "dev" ]; then
              ssh bitnami@dev.houlak.com mkdir -p /home/bitnami/htdocs/dev/getnet/landing
              rsync -qavzhe ssh ~/repo/build/ bitnami@dev.houlak.com:/home/bitnami/htdocs/dev/getnet/landing/
            elif [ "${CIRCLE_BRANCH}" == "qa" ]; then
              ssh bitnami@qa.houlak.com mkdir -p /home/bitnami/htdocs/qa/getnet/landing
              rsync -qavzhe ssh ~/repo/build/ bitnami@qa.houlak.com:/home/bitnami/htdocs/qa/getnet/landing/
            elif [ "${CIRCLE_BRANCH}" == "master" ]; then
              ssh bitnami@getnet.com.uy mkdir -p /home/bitnami/htdocs/getnet/landing
              rsync -qavzhe ssh ~/repo/build/ bitnami@getnet.com.uy:/home/bitnami/htdocs/getnet/landing/
            fi

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - dev
                - qa
                - master
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - dev
                - qa
                - master
