.btnContinue {
  width: 126px;
  height: 43px;
  color: #fff;
  font-size: 16px;
  background-color: #ec0000;
  border: 1px solid #f30013;
  opacity: 1;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 200px;
}
.btnContinue-two {
  width: 126px;
  height: 43px;
  color: #fff;
  font-size: 16px;
  background-color: #ec0000;
  border: 1px solid #f30013;
  opacity: 1;
  margin-top: 20px;
}

.btnContinue-docs {
  width: 126px;
  height: 43px;
  color: #fff;
  font-size: 16px;
  background-color: #ec0000;
  border: 1px solid #f30013;
  opacity: 1;
  margin-top: 20px;
}

.link-btnContinue {
  text-decoration: none;
  color: #fff;
}
/*news*/

.next {
  width: 60%;
  height: 100px;
  background-color: #fff;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0px;
}
.next-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 200px;
}

/*resposive*/

@media screen and (max-width: 1118px) {
  .link-btnContinue {
    text-decoration: none;
    color: #f30013;
  }

  .btnContinue {
    width: 80%;
    height: 43px;
    color: #f30013;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #f30013;
    opacity: 1;
    margin: 0px;
    position: fixed;
    bottom: 10px;
  }
  .btnContinue-two {
    position: fixed;
    bottom: 10px;
    width: 80%;
    height: 43px;
    color: #f30013;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #f30013;
    opacity: 1;
    margin: 0px;
    margin-top: 20px;
  }

  .btnContinue-docs {
    position: fixed;
    bottom: 10px;
    width: 80%;
    height: 43px;
    color: #f30013;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #f30013;
    opacity: 1;
    margin: 0px;
    margin-top: 20px;
  }
  .next {
    width: 100%;
    height: 80px;
    background-color: #fff;
    position: fixed;
    bottom: 0px;
    padding-bottom: 10px;
  }
  .next-button {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .link-btnContinue {
    text-decoration: none;
    color: #f30013;
  }

  .btnContinue {
    width: 80%;
    height: 43px;
    color: #f30013;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #f30013;
    opacity: 1;
    margin: 0px;
  }
  .next {
    width: 100%;
    height: 80px;
    background-color: #fff;
    position: fixed;
    bottom: 0px;
    padding-bottom: 10px;
  }
  .next-button {
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .link-btnContinue {
    text-decoration: none;
    color: #f30013;
  }
  .btnContinue {
    width: 80%;
    height: 43px;
    color: #f30013;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #f30013;
    opacity: 1;
    margin: 0px;
  }
  .link-btnContinue {
    text-decoration: none;
    color: #f30013;
  }

  .next {
    width: 100%;
    height: 80px;
    background-color: #fff;
    position: fixed;
    bottom: 0px;
    padding-bottom: 10px;
  }
  .next-button {
    justify-content: center;
  }
}
