.btnContinue {
  width: 126px;
  height: 43px;
  color: #fff;
  font-size: 16px;
  background-color: #ec0000;
  border: 1px solid #f30013;
  opacity: 1;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 200px;
}
.btnContinue-two {
  width: 126px;
  height: 43px;
  color: #fff;
  font-size: 16px;
  background-color: #ec0000;
  border: 1px solid #f30013;
  opacity: 1;
  margin-top: 20px;
}

.link-btnContinue {
  text-decoration: none;
  color: #fff;
}

/*resposive*/

@media screen and (max-width: 1118px) {
  .link-btnContinue {
    text-decoration: none;
    color: #f30013;
  }

  .btnContinue {
    width: 80%;
    height: 43px;
    color: #f30013;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #f30013;
    opacity: 1;
    margin: 0px;
    position: fixed;
    bottom: 10px;
  }
  .btnContinue-two {
    position: fixed;
    bottom: 10px;
    width: 80%;
    height: 43px;
    color: #f30013;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #f30013;
    opacity: 1;
    margin: 0px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .link-btnContinue {
    text-decoration: none;
    color: #f30013;
  }

  .btnContinue {
    width: 80%;
    height: 43px;
    color: #f30013;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #f30013;
    opacity: 1;
    margin: 0px;
  }
}

@media screen and (max-width: 479px) {
  .link-btnContinue {
    text-decoration: none;
    color: #f30013;
  }

  .btnContinue {
    width: 80%;
    height: 43px;
    color: #f30013;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #f30013;
    opacity: 1;
    margin: 0px;
  }
  .link-btnContinue {
    text-decoration: none;
    color: #f30013;
  }
}
