.btnContinue {
    width: 126px;
    height: 43px;
    color: #fff;
    font-size: 16px;
    background-color: #ec0000;
    border: 1px solid #f30013;
    opacity: 1;
  }
  .link-btnContinue {
    text-decoration: none;
    color: #fff;
  }