.container-root {
}
.content {
  width: 100%;
  height: 100vh;
  display: flex;
}

.left {
  width: 30%;
  display: flex;
}

.right {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.conte {
  width: 100%;
  height: 100%;

}

/*resposive*/


@media screen and (max-width: 1118px) {
  .left {
    display: none;
    visibility: hidden;
  }
  .right {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .left {
    display: none;
    visibility: hidden;
  }
  .right {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .left {
    display: none;
    visibility: hidden;
  }
  .right {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
