.container-root {
  height: 100vh;
}
.content1 {
  width: 100%;
  display: flex;
}

.left {
  width: 30%;
  display: flex;
}

.right {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.content2 {
  width: 100%;
}
.img-root {
  height: 700px
}

.content-menu {
  display: none;
  visibility: hidden;
}
/*resposive*/

@media screen and (max-width: 1118px) {
  .left {
    display: none;
    visibility: hidden;
  }
  .right {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .left {
    display: none;
    visibility: hidden;
  }
  .right {
    width: 100%;
    display: flex;
    justify-content: center;
  }
   .content-nav {
    display: none;
    visibility: hidden;
  }
  .content-menu {
    display: flex;
    visibility: visible;
  }
}

@media screen and (max-width: 479px) {
  .left {
    display: none;
    visibility: hidden;
  }
  .right {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .content-nav {
    display: none;
    visibility: hidden;
  }
  .content-menu {
    display: flex;
    visibility: visible;
  }
}
