/**styles globales/


/*input code page validate*/
.form-code {
  height: 250px;
  padding: 0px 30px 30px 70px;
  margin-bottom: 100px;
}
.input-code {
  background-color: #eeeeee;
  width: 70px;
  height: 30px;
  margin: 30px;
}
.link-submit-code {
  color: #9e3667;
}
.new-code {
  margin: 30px 0px;
  padding: 0px 30px;
}

@media screen and (max-width: 1109px) {
  .form-code {
    height: 510px;
    margin: 0px;
    padding: 0px;
  }
  .new-code {
    width: 150px;
    margin: 30px auto;
    padding: 0px 30px;
    text-align: justify;
  }
  .linkBack {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .validate {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .input-code {
    height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .new-code {
    width: 150px;
    margin: 30px auto;
    padding: 0px 30px;
    text-align: justify;
  }
  .linkBack {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .form-code {
    padding: 0px;
  }
  .input-code {
    margin: 18px;
  }
  .new-code {
    width: 150px;
    margin: 30px auto;
    padding: 0px 30px;
    text-align: justify;
  }
  .linkBack {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* page adress*/
.subtitle-adress {
  padding: 10px;
}
.input-adress {
  background-color: #eeeeee;
  width: 80px;
  height: 50px;
  margin: 10px;
}
.input-select {
  background-color: #eeeeee;
  width: 190px;
  height: 50px;
  margin: 10px;
}
#form-adress {
  width: 60%;
  height: 200px;
  padding: 10px 30px 0px 90px;
  display: inline-block;
}
.salesOperations {
  width: 60%;
  height: 100px;
  padding: 0px 30px 30px 100px;
}
.btn-round {
  background-color: #ec00000d;
  border: 1px solid #ec0013;
  padding: 10px;
  border-radius: 23px;
  color: #ec0000;
  margin: 10px;
  cursor: pointer;
}
.btn-round_active {
  background-color: #910009;
  color: #ffffff;
  border: 1px solid #ec0013;
  padding: 10px;
  border-radius: 23px;
  cursor: pointer;
}
@media screen and (max-width: 797px) {
  * {
    padding: 0px;
    margin: 0px;
  }
  #form-adress {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
  }
  .input-adress {
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 10px 0px;
  }
}

/*page review*/
.page-review {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #ec0000; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #ec0000, #732645);
}
.review_contact {
  display: flex;
  margin: 2px 0px;
}
.congrats {
  font-size: 44px;
  justify-content: left;
  width: 80%;
}
.review_content-btn {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  margin: 20px 0px;
}
.btn-back {
  width: 120px;
  background-color: transparent;
  border: 1px solid #ffffff;
  height: 40px;
}
.link-back {
  text-decoration: none;
}
.review {
  display: flex;
  height: 35%;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
}
.review-contact {
  display: flex;
  width: 70%;
  height: 30%;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.socials {
  padding: 0px 30px;
}
.img-socials {
  margin: 5px;
}
.tel {
  padding: 10px 0px 0px 15px;
}
.questions {
  width: 30%;
  padding: 0px 40px;
  margin: 0px 50px;
}
.delay {
  text-align: left;
  width: 80%;
}
.background-img_left {
  position: absolute;
  height: 200px;
  background-color: transparent;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  float: left;
  left: 40px;
  top: 120px;
}
.background-img_rigth {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  align-items: flex-end;
  float: right;
  bottom: 40px;
  right: 40px;
}
.img-group {
}

/*page confirm*/
.confirm {
  height: 480px;
}
@media screen and (max-width: 1109px) {
  .confirm {
    height: 600px;
  }
}
@media screen and(max-width: 479px) {
  .confirm {
    height: 600px;
  }
}

/*page docs*/
.file-select::before {
  width: 100px;
  height: 70px;
  background-color: #fff;
  color: #960000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: "Seleccionar archivo";
}

.content-subtitle {
  display: flex;
}
.text-file {
  color: #960000;
}
.photo {
  width: 80%;
  height: 100px;
  border: 2px dashed #a2a2a2;
}

/*styles globales*/

hr {
  width: 80%;
  border-top: 1px solid #a2a2a2;
  height: 2;
  margin: auto;
}

.gray {
  color: #666666;
}
.violet {
  color: #9e3667;
}
.black {
  color: #3e3e3e;
}
.bold {
  font-weight: bold;
}
.white {
  color: #ffffff;
}
.font18 {
  font-size: 18px;
}
.input {
  padding-left: 10px;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.next {
  display: flex;
  justify-content: flex-end;
  margin-right: 200px;
}
@media screen and (max-width: 1118px) {
  .next {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    margin: 0px;
  }
}

@media screen and (max-width: 767px) {
  .next {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    margin: 0px;
  }
}

@media screen and (max-width: 479px) {
  .next {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    margin: 0px;
  }
}
